body {
  background-color: #ffffff;
}
h1 {
  font-family: "Russo One", sans-serif;
  margin: 1cm;
}
h2 {
  margin: 20px;
}
form {
  background-color: #ffffff;
  width: 70%;
  margin: 0 auto;
  padding: 15px;
}
.row {
  margin-top: 10px;
  width: 1800px;
}
.pack {
  background-color: rgb(200, 200, 250);
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 700px;
  min-height: 120px;
}
.description,
.feedback,
.keyWords {
  width: 400px;
  max-height: 200px;
  min-height: 53px;
}
.description-block {
  margin-top: 10px;
}
p {
  margin: 0;
}
.container {
  padding-right: 300;
}
.generation-button-img {
  width: 30px;
  text-align: center;
  margin-bottom: 2px;
}
.generation-button {
  width: 40px;
  height: 40px;
  padding: 0;
  position: relative;
  bottom: 30px;
}
.wastebasket-img {
  width: 30px;
}
.wastebasket-button {
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 30px;
  padding: 0;
}
.calc {
  width: 500px;
  height: 700px;
  margin: 50px;
  margin-right: 0px;
  background-color: antiquewhite;
}
.container1 {
  width: 600px;
}
.calc2 {
  width: 300px;
  height: 500px;
  margin: 50px;
  background-color: antiquewhite;
}
